
<div id="js-sidebar" class="sidebar-shell sticky">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>

      <li>
            <ul class="js-guides">
            {{#if text.before}}
                {{#each text.before}}
                    <li id="text-{{id}}-menu"><a class="single-menu-item" href="{{../theme.pathRoot}}/text/{{id}}">{{name}}</a></li>
                {{/each}}
            {{/if}}
            </ul>
      </li>


    {{#each groups}}
        <li id="{{name}}-menu" class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="{{../theme.pathRoot}}/{{name}}">{{name}}</a></h3>
            <ul class="js-guides">
            {{#each endpoints}}
                <li id="{{../name}}-{{id}}-menu"><a href="{{../../theme.pathRoot}}/{{../name}}#{{id}}">{{summary}}</a></li>
            {{/each}}
            </ul>
        </li>
    {{/each}}

    {{#if errors}}
        <li>
           <ul class="js-guides">
               <li id="all-httperrors-menu"><a class="single-menu-item" href="{{theme.pathRoot}}/all/httperrors">HTTP errors</a></li>
           </ul>
        </li>
    {{/if}}

      {{#if text.after}}
      <li>
           <ul class="js-guides">
                {{#each text.after}}
                    <li id="text-{{id}}-menu"><a class="single-menu-item" href="{{../theme.pathRoot}}/text/{{id}}">{{name}}</a></li>
                {{/each}}
           </ul>
      </li>
      {{/if}}



    </ul>
  </div>

</div>