
<section id="{{id}}" class="group-item endpoint">

    <h2>{{summary}}</h2>
    <p>{{description}}</p>

    {{#each text.before}}
        <div class="before {{class}}">{{{html}}}</div>
    {{/each}}

    <pre><code class="curl">{{uppercase this.method}} {{hub-urltemplate this.path}}</code></pre>

    {{#if parameters.header}}
        <h3>Headers parameters</h3>
        <table>
            {{> hub-tablehead }}
            <tbody>
                {{#each parameters.header}}
                    {{> hub-tablerow }}
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if parameters.query}}
        <h3>Querystring parameters</h3>
        <table>
            {{> hub-tablehead }}
            <tbody>
                {{#each parameters.query}}
                    {{> hub-tablerow }}
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if parameters.path}}
        <h3>Path parameters</h3>
        <table>
            {{> hub-tablehead }}
            <tbody>
                {{#each parameters.path}}
                    {{> hub-tablerow }}
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if parameters.form}}
        <h3>Form parameters</h3>
        <table class="parameter-table pure-table pure-table-bordered">
            {{> hub-tablehead }}
        <tbody>
            {{#each parameters.form}}
                {{> hub-tablerow }}
            {{/each}}
        </tbody>
        </table>
    {{/if}}

    {{#if parameters.body}}
        <h3>Example</h3>
        {{#if parameters.body.examples}}
            {{#each parameters.body.examples}}
                <pre><code class="{{format}}">{{data}}</code></pre>
            {{/each}}
        {{/if}}
    {{/if}}


    {{#if responses.success}}
        {{#each responses.success}}
            {{#if examples}}
                <h3>Response</h3>
<pre class="highlight highlight-headers"><code>Status: {{statusCode}} {{description}}{{#each headers}}
{{@key}}: {{this.example}}{{/each}}
</code></pre>{{#each examples}}
<pre class="highlight highlight-json"><code class="{{lowercase name}}">{{data}}</code></pre>
                {{/each}}
            {{/if}}
        {{/each}}
    {{/if}}


    {{#each text.after}}
        <div class="after {{class}}">{{{html}}}</div>
    {{/each}}


</section>