
{%if errors%}
    <section id="httperrors" class="group">
        <h1>HTTP errors</h1>
        <p>The API endpoints can return a number HTTP errors if something goes wrong with your request.
        <table>
            <thead>
                <tr>
                    <th>Status Code</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for error in errors %}
                <tr>
                    <td><code>{{error.statusCode}}</code></td>
                    <td>{{error.description}}</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    </section>
{% endif %}