{% include "includes/hub-head.html" %}


<body>
    {% include "includes/hub-header.html" %}

  <div id="wrapper">
    <div class="content">

            {% for group in groups %}
                <section class="group" id="group-{{group.name}}">

                    <h1>{{group.name}}</h1>
                    <p>{{group.description}}</p>

                    {% for text in group.text.before %}
                        <div class="before {{text.class}}">{{text.html | safe}}</div>
                    {% endfor %}

                    {% for endpoint in group.endpoints %}
                        {% includeWith "includes/hub-endpoint.html", with={
                            endpoint: endpoint
                        } %}
                    {% endfor %}

                    {% for text in group.text.after %}
                        <div class="after {{text.class}}">{{text.html | safe}}</div>
                    {% endfor %}

                </section>
            {% endfor %}



        </div>
        {% include "includes/hub-sidebar.html" %}
    </div>

{% include "includes/hub-footer.html" %}
</body>
</html>
