{{> hub-head }}

<body>
  {{> hub-header }}

  <div id="wrapper">
    {{> hub-sidebar }}

    <div class="content">


            {{#if text.before}}
                <section class="group">
                    {{#each text.before}}
                        <section id="{{id}}" class="group-item before {{class}}">
                                <h1>{{name}}</h1>
                                <div>{{{html}}}</div>
                        </section>
                    {{/each}}
                </section>
            {{/if}}


            {{#each groups}}
                <section class="group" id="group-{{name}}">

                    <h1>{{name}}</h1>
                    <p>{{description}}</p>

                    {{#each text.before}}
                        <div class="before {{class}}">{{{html}}}</div>
                    {{/each}}

                    {{#each endpoints}}
                        {{> hub-endpoint }}
                    {{/each}}

                    {{#each text.after}}
                        <div class="after {{class}}">{{{html}}}</div>
                    {{/each}}

                </section>
            {{/each}}


            {{> hub-httperrors }}


            {{#if text.after}}
                <section class="group">
                    {{#each text.after}}
                        <section id="{{id}}" class="after {{class}}">
                                <h1>{{name}}</h1>
                                <div>{{{html}}}</div>
                        </section>
                    {{/each}}
                </section>
            {{/if}}

    </div>

  </div>

  {{> hub-footer }}
</body>
</html>

