{% include "includes/hub-head.html" %}


<body>
    {% include "includes/hub-header.html" %}

  <div id="wrapper">
    <div class="content">

        {% set theme = theme %}


        {%if "text" === theme.groupSelection%}
            {% for text in text.before %}
                {%if text.id === theme.itemSelection%}
                <section class="group">
                    <section id="{{text.id}}" class="group-item before {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                </section>
                {% endif%}
            {% endfor %}

            {% for text in text.after %}
                {%if text.id === theme.itemSelection%}
                <section class="group">
                    <section id="{{text.id}}" class="group-item after {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                </section>
                {% endif%}
            {% endfor %}
        {% endif%}


        {%if "all" === theme.groupSelection%}
            {%if "httperrors" === theme.itemSelection%}
                {% includeWith "includes/hub-httperrors.html", with={
                    errors: errors
                } %}
            {% endif%}
        {% endif%}



        {% for group in groups %}
            {%if group.name === theme.groupSelection%}
                {% for endpoint in group.endpoints %}
                    {%if endpoint.id === theme.itemSelection%}
                        {% includeWith "includes/hub-endpoint.html", with={
                            endpoint: endpoint
                        } %}
                    {% endif%}
                {% endfor %}
            {% endif%}
        {% endfor %}


     </div>
        {% include "includes/hub-sidebar.html" %}
    </div>

{% include "includes/hub-footer.html" %}
</body>
</html>

