{% include "includes/hub-head.html" %}


<body>
    {% include "includes/hub-header.html" %}

    <div id="wrapper">

        {% include "includes/hub-sidebar.html" %}

        <div class="content">


            {%if text.before%}
                <section class="group">
                  {% for text in text.before %}
                        <section id="{{text.id}}" class="group-item before {{text.class}}">
                                <h1>{{text.name}}</h1>
                                <div>{{text.html | safe}}</div>
                        </section>
                       {% endfor %}
                </section>
            {% endif%}


            {% for group in groups %}
                <section class="group" id="group-{{group.name}}">

                    <h1>{{group.name}}</h1>
                    <p>{{group.description}}</p>

                    {% for text in group.text.before %}
                        <div class="before {{text.class}}">{{text.html | safe}}</div>
                    {% endfor %}

                    {% for endpoint in group.endpoints %}
                        {% includeWith "includes/hub-endpoint.html", with={
                            endpoint: endpoint
                        } %}
                    {% endfor %}

                    {% for text in group.text.after %}
                        <div class="after {{text.class}}">{{text.html | safe}}</div>
                    {% endfor %}

                </section>
            {% endfor %}



            {% includeWith "includes/hub-httperrors.html", with={
                errors: errors
            } %}



            {%if text.after%}
                <section class="group">
                  {% for text in text.after %}
                        <section id="{{text.id}}" class="group-item after {{text.class}}">
                                <h1>{{text.name}}</h1>
                                <div>{{text.html | safe}}</div>
                        </section>
                       {% endfor %}
                </section>
            {% endif%}


        </div>
    </div>

{% include "includes/hub-footer.html" %}
</body>
</html>


